.App{ /* center the container horizontally */ /* add a border to the container */
  padding: 20px;
}
header{
  border: 1px solid #ccc;
  margin: 0 auto;

}
.horizontal_list{
  display: flex;
  justify-content: space-around;
}
h1{
  text-align: center;
}
button {
  background-color: blue;
  color: white;
  transition: background-color 0.5s ease;
  padding:10px;
  
}
.divcontainer{
  height: 20vh;
}
.imgInfo{
  height: 100%;
  border: solid red;
}
img{
  height: 100%;
}
button:hover {
  background-color: red;
  transform: rotate(45deg) translateX(10px);
}
